@model ZebraWeb.Models.ScenicSpotVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ScenicSpot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-area="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lng" class="control-label"></label>
                <input asp-for="Lng" class="form-control" />
                <span asp-validation-for="Lng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr" class="control-label"></label>
                <input asp-for="Addr" class="form-control" />
                <span asp-validation-for="Addr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opentime" class="control-label"></label>
                <input asp-for="Opentime" class="form-control" />
                <span asp-validation-for="Opentime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describe" class="control-label"></label>
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
            主题：
            <select>
                @foreach (var i in Model.Theme)
                {
                    if (i.themeName == ViewBag.Theme)
                    {
                        <option value="@i.themeName" selected="selected">@i.themeName</option>
                    }
                    else
                    {
                        <option value="@i.themeName">@i.themeName</option>
                    }
                }
            </select>
            标签：
            <select>
                @foreach (var i in Model.Label)
                {
                    if (i.LabelName == ViewBag.Label)
                    {
                        <option value="@i.LabelName" selected="selected">@i.LabelName</option>
                    }
                    else
                    {
                        <option value="@i.LabelName">@i.LabelName</option>
                    }
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="ScenicSpots">返回</a>
</div>
